
@{
    ViewBag.Title = "Bajo Stock";
}

<div style="margin-left:5%; margin-right:5%;">
    <h2>Productos con bajo stock</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Descripcion</th>
                <th>CantidadStock</th>
                <th>Precio</th>
                <th>Proveedor</th>
                <th>Marca</th>
                <th>Categoria</th>
            </tr>
        </thead>
        @foreach (var item in @ViewBag.BajoStock)
        {
    <tr>
        <td>@item.idProducto</td>
        <td>@item.descripcion</td>
        <td>@item.cantidadStock</td>
        <td>@item.precio</td>
        <td>@item.Proveedor1.razonSocial</td>
        <td>@item.Marca1.descripcionMarca</td>
        <td>@item.Categoria1.descripcionCategoria</td>
    </tr>
        }

    </table>
</div>
