@model IEnumerable<ProyectoFinalASP_MVC.Models.Categoria>

@{
    ViewBag.Title = "Index";
}

<div style="margin-left:5%; margin-right:5%;">

    <h2>Categoria</h2>

    <p>
        @Html.ActionLink("Agregar nuevo", "Create", null, htmlAttributes: new { @class = "btn btn-success" })
    </p>
    <table class="table table-bordered table-hover" >
        <thead class="thead-dark">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Descripción
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcionCategoria)
                </td>
                <td style="text-align:right;">
                    @Html.ActionLink("Detalles", "Details", new { id = item.idCategoria }, htmlAttributes: new { @class = "btn btn-info" })
                    @Html.ActionLink("Editar", "Edit", new { id = item.idCategoria }, htmlAttributes: new { @class = "btn btn-warning" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idCategoria }, htmlAttributes: new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>
